@font-face {
    font-family: "Muli Bold";
    src: local("Muli Bold"), url(../media/fonts/Muli-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Muli Medium";
    src: local("Muli Medium"), url(../media/fonts/Muli-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Shanti Regular";
    src: local("Shanti Regular"), url(../media/fonts/Shanti-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Karma Regular";
    src: local("Karma Regular"), url(../media/fonts/Karma-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Karma Semibold";
    src: local("Karma Semibold"), url(../media/fonts/Karma-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "Rubik";
    src: local("Rubik"), url(../media/fonts/Rubik-Regular.ttf) format("truetype");
}
